.loginBG {
    width: 100vw;
    height: 105vw;
    background-size: cover;
    grid-column: 1/2;
    background-blend-mode: multiply;
    background: rgba(0, 0, 0, 0.35) url('../../../../../src/Frontend/Images/closingTag.png') fixed;
    position: absolute;
}

.loginPanel {
    background-color: var(--prim-color);
    width: 30vw;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 25vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.loginPanel h1 {
    width: 100%;
}

.loginPanel input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding-left: 5px;
}